<!DOCTYPE html>
<html>
    <head>
        <title>Html test</title>
        <meta charset="utf-8">
        <style type="text/css">
            body {
                background-color:yellow;
            }
            p {
                color:blue
            }
            </style>
    </head>
    <body>
        这个页面显示 Hello World。
        <h1>Greeting.</h1>
        <a id="tips">有用的提示部分</a>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <p>这个字体是不是蓝色的？</p>

<a href = "#tips">访问有用的部分</a>
    </body>
</html>
